body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

  #About {
    /* Pengaturan yang sudah ada */
    z-index: 90;
    position: relative;
    padding: 90px 20px;
    color: #f4f4f4;
    background-image: url('/src/assets/img/bg-grid.jpg'); /* Ganti dengan gambar latar belakangmu */
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 0px 0px 0px;
    animation: backgroundMovement 3s linear infinite alternate; 
}

#About h1.section-title {
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About h1.section-title::after{
    content: "";
    position: absolute;
    bottom: -5px; /* Mengatur jarak garis dari teks */
    left: 50%;
    width: 10%; /* Ubah lebar garis bawah di sini */
    height: 2px; /* Tinggi garis bawah */
    background-color: white; /* Warna garis bawah */
    transform: translateX(-50%);
  }

.aboutContainer {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Flex wrap for responsiveness */
    padding-bottom: 8rem;
    padding-left: 2rem;
}

.about-details {
    color: #f4f4f4;
    flex: 1;
    padding: 20px;
    min-width: 300px; /* Ensure minimum width */
    
}

.about-details h1 {
    color: #f4f4f4;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-details p {
    color: white;
    line-height: 1.6;
    font-size: 1.1em;
    max-width: 600px; /* Set a maximum width for the paragraph */
    margin: 0 auto; /* Center the paragraph */
}

.about-image {
    flex: 1;
    padding: 20px;
    min-width: 300px; /* Ensure minimum width */
    text-align: center;
}

.about-image img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    padding-top: 3rem;
}

.sosmed svg {
    fill: white;
    margin: 0px 5px;
    padding-top: 1.5rem;
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease, transform 0.3s ease; /* Smooth transition for the fill color and size */
}

.sosmed .iconInstagram:hover svg {
    fill: #E4405F; /* Instagram brand color */
    transform: scale(1.2); /* Mengubah ukuran saat dihover */
    filter: blur(0); /* Menghapus blur saat dihover */
}

.sosmed .iconLinkedin:hover svg {
    fill: #007bb5; /* Linkedin brand color */
    transform: scale(1.2); /* Mengubah ukuran saat dihover */
    filter: blur(0); /* Menghapus blur saat dihover */
}

.sosmed .iconWhatsapp:hover svg {
    fill: #25d366; /* Whatsapp brand color */
    transform: scale(1.2); /* Mengubah ukuran saat dihover */
    filter: blur(0); /* Menghapus blur saat dihover */
}

.sosmed .iconTwitter:hover svg {
    fill: #08a0e9; /* Twitter brand color */
    transform: scale(1.2); /* Mengubah ukuran saat dihover */
    filter: blur(0); /* Menghapus blur saat dihover */
}

.sosmed .iconInstagram:hover svg,
.sosmed .iconLinkedin:hover svg,
.sosmed .iconWhatsapp:hover svg,
.sosmed .iconTwitter:hover svg {
    z-index: 1; /* Mengatur z-index agar elemen dihover berada di atas */
}

@media (max-width: 450px) {
    .aboutContainer {
        flex-direction: column-reverse;
        padding: 0;
    }

    .about-image img {
        max-width: 80%;
        height: auto;
    }
    
    .about-details p {
        line-height: 1.4;
        max-width: 100%; /* Ensure the paragraph takes full width on small screens */
    }
    #About {
        /* height: 100vh; */
        padding: 100px 20px;
        color: #f4f4f4;
    }
    
    #About h1.section-title {
        padding-top: 20px;
    }
    
    #About h1.section-title::after{
        content: "";
        position: absolute;
        bottom: -5px; /* Mengatur jarak garis dari teks */
        left: 50%;
        width: 30%; /* Ubah lebar garis bawah di sini */
        height: 2px; /* Tinggi garis bawah */
        background-color: #008080; /* Warna garis bawah */
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #About {
        padding: 60px 20px; 
    }

    .aboutContainer {
        padding: 4rem 2rem; 
        display: flex;
        flex-direction: column-reverse;
    }

    .about-details {
        padding: 20px; 
    }

    .about-image img {
        max-width: 70%; 
    }

    .about-details h1 {
        font-size: 2rem; /* Sesuaikan ukuran font untuk judul pada layar tablet */
    }

    .about-details p {
        font-size: 1.5rem; /* Sesuaikan ukuran font untuk paragraf pada layar tablet */
    }
}
